.cta-banner {
  background-color: var(--honolulu-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  padding: 1.5rem;
}

.cta-banner__text {
  display: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.cta-banner__button {
  text-align: center;
}

@media (min-width: 768px) {
  .cta-banner {
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
  }

  .cta-banner__text {
    display: initial;
  }
}
