.cta,
.cta:visited {
  text-align: center;
  font-family: var(--title2-font-family);
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--hunyadi-yellow);
  color: var(--egyptian-blue);
  padding: 0.3125rem 1.25rem;
  border-radius: 0.25rem;
}

@media (min-width: 768px) {
  .cta {
    font-size: 1.5rem;
    padding: 0.625rem 1.5rem;
  }
}
